[Desktop Entry]
Version=1.0
Type=Application

Name=StoryReader
Comment=Summary
Categories=Network;Amusement;

Icon=com.tsander.story_reader
Exec=story_reader
Terminal=false

StartupNotify=true
