[Desktop Entry]
Version=1.0
Type=Application

Name=StoryReader
Categories=Network;Amusement;Adult;

Icon=io.github.tareksander.StoryReader
Exec=story_reader
Terminal=false

StartupNotify=true
